{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Cambiar contraseña</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div class="container">
    <h2>Cambiar contraseña</h2>
    <form method="post">
      {% csrf_token %}
      <label for="current_password">Contraseña actual:</label>
      <input type="password" id="current_password" name="current_password" required>
      <label for="new_password">Nueva contraseña:</label>
      <input type="password" id="new_password" name="new_password" required>
      <label for="confirm_password">Confirmar contraseña:</label>
      <input type="password" id="confirm_password" name="confirm_password" required>
      <input type="submit" value="Cambiar contraseña">
    </form>
  </div>
</body>
</html>
